.upper_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 26px;
  padding-bottom: 80px;
  background: #c4c4c4;
  border-radius: 0px 0px 62px 62px;
}
.header_style {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.ul_style {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 606px;
  height: 27px;
}
.li_style {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 132.9%;
  letter-spacing: 0.05em;
  color: #07484a;
}
.border {
  border-bottom: 3px solid #07484a;
}
.img_inwood {
  width: 144px;
  height: 36px;
}
.deal_text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
}
.deal_sub_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #07484a;
}
.btn_shop {
  padding: 20px;
  background: #70908b;
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #fdfbf8;
}
.home_text {
  width: 668px;
  padding-top: 300px;
}
